body {
  height: 100vh;
  background-color:#dcdcdc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.beautiful-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.beautiful-table th, .beautiful-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.beautiful-table th {
  background-color: #f2f2f2;
}

.edit-btn, .delete-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336; 
}
